{{ if .Site.Data.homepage.aboutProduct.enable }}
{{ with .Site.Data.homepage.aboutProduct }}
<section class="feature-list section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>
    {{ range $index, $element := .items }}
    <div class="row mb-40 justify-content-md-center">
      <div class="col-md-8 lign-self-center text-center">
        <div class="content">
          <h4 class="subheading">{{ .title | markdownify }}</h4>
          <p>{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absURL }}" class="btn btn-main btn-main-sm">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}